/.vscode
/calcmarksfunctionoverload.cpp
/circularlinklist1.cpp
/helloworld.cpp
/helloworld.exe
/insertdeletesinglnode.cpp
/insertdeletesinglnode.exe
/interestcalc.cpp
/largest3sum.cpp
/largest3sum.exe
/linkedlist1.cpp
/linkedlist2.cpp
/Linkedlistsinglysubmissionkevin.exe
/linkedlisttest1.cpp
/linkedlisttest2.cpp
/linkedlisttest3.cpp
/linkedlisttest4.cpp
/multitable.cpp
/nnaturalnos.cpp
/palindrome.cpp
/shapes.cpp
/singlylinkedlist.cpp
/strlen.cpp
/studentheight.cpp
/Subjects.cpp
/sumnrecursion.cpp
/sumnrecursion.exe
/sumof3nos.cpp
/worddigitcorress.cpp